*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

#wrap {
	display: none;
	font-family: 'Ebrima';
	overflow: auto;
	width: 75%;
	height: 20vw;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.61);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	margin-top: 2%;
}

.header {
	background-color: #00000096;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
}

.header a {
	padding: 5%;
}

.playerlist {
	width: 87%;
	text-align: center;
	color: rgba(255, 255, 255, 0.897);
}
